<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Rooms</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
      [[${session.member}]]
      <div>
        임시 작가 회원 : 1 이지민 <br />
        임시 일반회원 - 번호 닉네임 <br />
        2 김재희 / 3 전서연 /4 홍길동 / 5 박지연
      </div>
            <h3>
              이름 :
              [[${session.userName}]]
            </h3>

            <div class="">
              <form th:action="@{/chat/user}" method="post">
                <input type="text" name="memberId" class="form-control" placeholder="아이디값">
                <input type="text" name="nickname" class="form-control" placeholder="유저이름">
                <button class="btn" type="submit">생성하기</button>
              </form>
            </div>
    </div>
    <button type="button" id="btnSave"> 문의하기</button>


    <div id="modal" style="display: none">
      <button id="modalClose"> 닫기 </button>
      <h1>채팅방이름 : <span class="chat_title"></span></h1>
      <div id="msgArea" class="col"></div>
      <div class="col-6">
        <div class="input-group mb-3">
        <form id="form">
            <div class="msg_wrap">
              <img id="fileBox" src="" style="border:1px solid #cccccc;height:40px;width:40px;display: none" />
              <textarea id="msg" class="form-control" maxlength="250" style="resize: none"></textarea>
            </div>
            <div class="input-group-append">
              <label for="fileMsg" class="btn btn-dark btn-sm ">파일 선택 하기</label>
              <input type="file" name="" id="fileMsg" accept="image/*" multiple="multiple" style="display:none;">
              <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
            </div>
        </form>

        </div>
      </div>

    </div>
    <script>
        var file = document.querySelector('#fileMsg');

        file.onchange = function () {
            var fileList = file.files ;

            // 읽기
            var reader = new FileReader();
            reader.readAsDataURL(fileList [0]);
            console.log(reader);
            console.log(fileList);

            //로드 한 후
            reader.onload = function  () {
                let fileType = fileList.type;
                if(fileList[0].type == "image/png" || fileList[0].type == "image/jpeg"){
                    document.querySelector("#fileBox").style.display = 'block';
                    document.querySelector("#fileBox").src=  reader.result;
                }

                //document.querySelector("#msg").innerHTML = "<img src='" + reader.result + "' >";
            };
        };
    </script>


    <script th:inline="javascript" >
      $(document).ready(function(){
          // 채팅방 생성
            // 필요한거 상품번호, 작가 번호

          $("#btnSave").on('click',function () {
              $.ajax({
                  url: "/apiChat/room?productId=" + 1 +"&authorId="+[[${session.authorMember.memberId}]],
                  type: "get",
                  success:function (data) {
                      console.log("전달 받는 데이터 : " + JSON.stringify(data));
                      ChatRoom(data);
                  }
              });
          });


      });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
    <script th:inline="javascript" >
      function ChatRoom(data){
          let sockJs = new SockJS("/stomp/chat");
          //1. SockJS를 내부에 들고있는 stomp를 내어줌
          let stomp = Stomp.over(sockJs);
          let charRoom = data;
          let username = [[${session.userName}]];
          let chatRoomId = charRoom.chatRoomId;
          let chatRoomName = charRoom.chatRoomName;
          // 채팅방 이름 넣기
          $(".chat_title").html(chatRoomName);
          // 채팅방 레이어 팝업 보여주기
          $("#modal").show();



          //2. connection이 맺어지면 실행
          stomp.connect({}, function (frame){
              console.log("STOMP Connection")
              console.log("member : " + [[${session.member}]])

              stomp.send('/pub/chat/enter', {}, JSON.stringify({chatRoomId: chatRoomId,member: [[${session.member}]] }));

              //4. subscribe(path, callback)으로 메세지를 받을 수 있음
              stomp.subscribe("/sub/chat/room/" + chatRoomId, function (chat) {
                  var content = JSON.parse(chat.body);

                  var writer = content.writer;
                  var message = content.message;
                  var type = content.chatMessageType;

                  var str = '';

                  if(type === "ENTER"){ // 처음 들어왔을경우
                      str = "<div class='enter'>";
                      str += "<div class='alert alert-secondary'>";
                      str += "<b>" + writer + " : " + message + "</b>";
                      str += "</div></div>";
                      $("#msgArea").append(str);
                      return false;
                  }

                  if(type === "FILE"){ // 파일일 경우

                  }
                  // 현재사용 회원의 ID 와 작가 회원의 ID 비교
                  if(writer === username){ // memberId로 변경 추후 현제 사용자 아이디와 전달 받은 회원아이디 비교하여
                      // 내가 보낸거
                      str = "<div class='take_send'>";
                      str += "<div class='alert alert-secondary'>";
                      str += "<b>" + writer + " : " + message + "</b>";
                      str += "</div></div>";
                      $("#msgArea").append(str);
                  }
                  else{
                      // 받은거
                      str = "<div class='take_get'>";
                      str += "<div class='alert alert-warning'>";
                      str += "<b>" + writer + " : " + message + "</b>";
                      str += "</div></div>";
                      $("#msgArea").append(str);
                  }



              });

          });


          // 메시지 전송
          $("#button-send").on("click", function(e){
              let msg = document.getElementById("msg");
              var fileForm = document.querySelector('#fileMsg');
              console.log(fileForm)
              var fileList = fileForm.files[0] ;

              //파일이 있을경우
              if (fileList != null) {
                  console.log("파일 있을 경우");
                  console.log("파일 전송 : " + fileList.name);

                  // 웹소켓에서 파일객체는 직렬화 해서 전달 받아야한다.
                  var reader = new FileReader();
                  reader.onload = function (event) {
                      var fileContent = event.target.result; // 파일 내용
                      var fileDto = {
                          fileName: fileList.name,
                          fileData: Array.from(new Uint8Array(fileContent)),
                          fileContentType : fileList.type
                      };
                      console.log("file : "+fileDto);

                      // 바이너리 배열을 서버로 전송
                      stomp.send('/pub/chat/message', {}, JSON.stringify({
                          chatRoomId: chatRoomId,
                          message: msg.value,
                          file: fileDto, // 바이트 배열로 변환하여 전송
                          member: [[${session.member}]]
                      }));
                  };
                  reader.readAsArrayBuffer(fileList); // 파일을 바이너리로 읽기
              }//file

              stomp.send('/pub/chat/message', {}, JSON.stringify({chatRoomId: chatRoomId, message: msg.value,member: [[${session.member}]]}));
              msg.value = '';
          });






      }

  </script>
  <style>
    .enter * {font-size:12px;color: #dcdada}
  </style>

</body>
</html>