.myfage-mid-order-content {
  padding: 8rem 1.5rem;
}

.myfage-mid-order-content > *:not(:first-child) {
  margin-bottom: 1rem;
}

.myfage-mid-order-content-nav,
.myfage-mid-order-content-status,
.myfage-mid-order-content-list-title,
.myfage-mid-order-content-list-value {
  display: flex;
}

.myfage-mid-order-content-nav {
  margin-bottom: 2rem;
}

.myfage-mid-order-content-nav > * {
  border: solid 0.13rem rgba(41, 45, 50, 1);
  border-radius: 3rem;
  padding: 0.3rem 1.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 0.3rem;
}

.myfage-mid-order-content-nav > *:hover {
  background-color: rgba(41, 45, 50, 1);
  color: white;
  transition-duration: 0.2s;
}

.myfage-mid-order-content-status > * {
  width: 12rem;
  height: 5.5rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 0.5rem rgba(88, 88, 88, 0.3);
  padding: 1.3rem;
  margin-right: 0.5rem;
  font-size: 1.3rem;
  font-weight: 800;
}

.myfage-mid-order-content-status > *:hover {
  transform: translateY(-0.8rem);
  transition-duration: 0.3s;
}

.myfage-mid-order-content-status > * > *:last-child {
  float: right;
  margin-top: 2rem;
}

.myfage-mid-order-content-list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myfage-mid-order-content-list-title {
  display: flex;
  background-color: rgba(41, 45, 50, 1);
  box-shadow: 2px 2px 0.5rem rgba(88, 88, 88, 0.3);
  border-radius: 3rem;
  padding: 0.6rem 0.8rem;
  margin-bottom: 0.5rem;
}

.myfage-mid-order-content-list-title > * {
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.2rem;
}

.myfage-mid-order-content-list-value > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.25rem;
}

.myfage-mid-order-content-list-value {
  display: flex;
  box-shadow: 2px 2px 0.5rem rgba(88, 88, 88, 0.3);
  border-radius: 2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: -3.5rem;
}

.myfage-mid-order-content-list-value:hover {
  transform: translateY(-0.3rem);
  transition-duration: 0.3s;
}

.myfage-mid-order-content-filter-start,
.myfage-mid-order-content-filter-end {
  font-weight: 500;
}

.myfage-mid-order-content-filter-current {
  padding: 0.32rem 1rem;
}
