.myfage-chat-box {
  margin: 5rem 0;
  padding: 1.5rem 1rem 2rem 1rem;
  box-shadow: 2px 2px 0.5rem rgba(88, 88, 88, 0.3);
  border-radius: 1rem;
  height: 50rem;
}

.myfage-chat-not-check {
  background-color: rgba(41, 45, 50, 1);
  border-radius: 1rem;
  padding: 0.1rem 1.5rem;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  float: right;
  cursor: pointer;
}

.myfage-chat-not-check:hover {
  transform: translateY(-0.4rem);
  transition-duration: 0.3s;
}

.myfage-chat-box-default-title {
  clear: both;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: rgba(41, 45, 50, 1);
  margin: 0 3rem;
  margin-top: 20rem;
}

.myfage-chat-box-default-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(41, 45, 50, 1);
  margin-top: 0.5rem;
}

.myfage-chat-list {
  clear: both;
  display: flex;
  width: 27rem;
  justify-content: space-between;
  padding: 1.7rem 0.7rem 0.9rem 1rem;
  box-shadow: 2px 2px 0.5rem rgba(88, 88, 88, 0.3);
  border-radius: 1rem;
  /*cursor: pointer;*/
}

.myfage-chat-list:hover {
  scale: 102%;
  transition-duration: 0.1s;
}

.myfage-chat-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5rem;
}

.myfage-chat-profile-identity {
  background-color: rgba(41, 45, 50, 1);
  color: white;
  font-size: 0.6rem;
  width: 2.7rem;
  height: 0.9rem;
  padding: 0.2rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  margin-top: -0.5rem;
}

.myfage-chat-profile-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myfage-chat-profile-img-tag {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5rem;
  object-fit: cover;
}

.myfage-chat-content {
  display: flex;
  cursor: pointer;
}

.myafge-chat-info {
  margin-top: 0.15rem;
}
.myfage-chat-info-top {
  display: flex;
  margin-bottom: -0.3rem;
}

.myfage-chat-info-top-nickname {
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 0.3rem;
}

.myfage-chat-info-top-send-time {
  font-size: 0.8rem;
  padding-top: 0.2rem;
}

.myfage-chat-info-msg {
  font-size: 0.9rem;
}

@keyframes delete-btn-hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.myfage-chat-delete {
  float: right;
  display: flex;
  align-items: center;
  scale: 80%;
  margin-top: -0.5rem;
  cursor: pointer;
}

.myfage-chat-delete:hover {
  animation-name: delete-btn-hover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
