<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtMarket</title>
    <script defer th:src="@{/js/all.js}"></script>
    <script defer th:src="@{/js/nav.js}"></script>
    <script defer th:src="@{/js/footer.js}"></script>
    <script defer th:src="@{/js/join.js}"></script>
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/join.css}"/>
    <link rel="stylesheet" th:href="@{/css/login-join.css}"/>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<container>
    <section>
        <form id="join-form" th:action="@{/join}" method="post" th:object="${member}">
            <div class="user-author-check">
                <label class="user"><input type="radio" name="user-author-check" id="user" th:value="user">일반</label>
                <label class="author"><input type="radio" name="user-author-check" id="author"
                                             th:value="author">작가</label>
            </div>
            <div class="user-join-form">
                <div>이름*</div>
                <input type="text" class="info-input-list" th:field="*{name}" placeholder="실명을 적어주세요."/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>

                <div>닉네임</div>
                <input type="text" class="info-input-list" th:field="*{nickname}"
                       placeholder="일반유저는 닉네임, 작가는 작가명으로 적어주세요."/>
                <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="error"></div>
                <div th:if="${nicknameError}" class="error"><p class="error" th:text="${nicknameError}">이미 사용 중인 정보가
                    있습니다.</p></div>

                <div>아이디*</div>
                <input type="text" class="info-input-list" th:field="*{loginId}" placeholder="영문, 숫자 조합 6~10자"/>
                <div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="error"></div>
                <div th:if="${loginIdError}" class="error"><p class="error" th:text="${loginIdError}">이미 사용 중인 정보가
                    있습니다.</p></div>

                <div id="join-password">비밀번호*</div>
                <input type="password" class="info-input-list" th:field="*{password}"
                       placeholder="영문, 숫자, 특수문자 조합 8~16자"/>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>

                <div>비밀번호 확인*</div>
                <input type="password" class="info-input-list" th:field="*{confirmPassword}"
                       placeholder="비밀번호를 한번 더 입력해주세요."/>
                <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error"></div>
                <div th:if="${confirmPasswordError}" class="error"><p class="error" th:text="${confirmPasswordError}">이미
                    사용 중인 정보가 있습니다.</p></div>
                <div>휴대폰 번호*</div>
                <input type="tel" class="info-input-list" th:field="*{phone}" placeholder="010-0000-0000"/>
                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error"></div>
                <div th:if="${phoneError}" class="error"><p class="error" th:text="${phoneError}">이미 사용 중인 정보가
                    있습니다.</p></div>

                <div id="join-email">이메일</div>
                <input type="email" class="info-input-list" th:field="*{email}" placeholder="test@gmail.com"/>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
                <div th:if="${emailError}" class="error"><p class="error" th:text="${emailError}">이미 사용 중인 정보가
                    있습니다.</p></div>
            </div>
            <div class="user-join-check">
                <label>
                    <input type="checkbox" class="join-check-all"> 모두 동의하기
                </label>

                <div class="join-check-list1">
                    <label>
                        <input type="checkbox" class="join_check_list1">[필수] 이용약관 동의
                    </label>
                    <div>내용보기</div>
                </div>
                <div class="join-check-list2">
                    <label>
                        <input type="checkbox" class="join_check_list2">[필수] 개인정보 수집 및 이용동의
                    </label>
                    <div>내용보기</div>
                </div>
                <div class="join-check-list3">
                    <label>
                        <input type="checkbox" class="join_check_list3">[필수] 만 14세 이상입니다.
                    </label>
                    <div>내용보기</div>
                </div>
            </div>
            <input type="submit" class="info-input-button" value="가입하기">
        </form>
    </section>
</container>
</body>
</html>