<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtMarket</title>
    <script defer src="../../../static/js/all.js"></script>
    <script defer src="../../../static/js/nav.js"></script>
    <script defer src="../../../static/js/footer.js"></script>
    <script defer src="../../../static/js/login.js"></script>
    <link rel="stylesheet" href="../../../static/css/all.css">
    <link rel="stylesheet" href="../../../static/css/nav.css">
    <link rel="stylesheet" href="../../../static/css/footer.css">
    <link rel="stylesheet" href="../../../static/css/login-join.css">
    <link rel="stylesheet" href="../../../static/css/login.css">
</head>
<body>
<container>
    <section>
        <form id="login-form" action="#" method="post">
            <div class="login-title">
                <div>로그인</div>
            </div>
            <div class="login-top">
                <div id="login-email">아이디</div>
                <input type="email" class="info-input-list" placeholder="아이디 입력해 주세요."/>
                <div id="login-pass">비밀번호</div>
                <input type="password" class="info-input-list" placeholder="비밀번호를 입력해 주세요."/>
                <input type="submit" class="info-input-button" value="로그인">
            </div>
            <div class="login-bottom">
                <div>
                    <input type="checkbox"/> 자동로그인
                </div>
                <div class="login-to-id-pass-find">아이디 · 비밀번호 찾기</div>
            </div>
            <div class="login-not-member">
                <div>아직 회원이 아니신가요?</div>
                <div class="login-to-join">회원 가입하러 가기</div>
            </div>
        </form>
    </section>
</container>
</body>
</html>