* {
  color: rgba(41, 45, 50, 1);
}

.after-join-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 0.5rem rgba(226, 226, 226, 0.1);
  margin-left: 16rem;
  padding: 3rem 10rem 4rem 10rem;
}

.join-ing {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

@keyframes ingImg {
  0% {
    scale: 75%;
  }
  50% {
    scale: 85%;
  }
  100% {
    scale: 75%;
  }
}

.join-ing > img {
  scale: 70%;
}

.join-ing > img:nth-child(1) {
  scale: 70%;
  animation-duration: 1.5s;
  animation-name: ingImg;
  animation-iteration-count: infinite;
}

.join-ing > img:not(:nth-child(1)) {
  opacity: 0.2;
}

.join-ing > div {
  width: 13rem;
  border-bottom: solid 0.11rem rgba(41, 45, 50, 0.2);
  margin-bottom: 1rem;
}
.join-ing > * {
  margin: 0 0.3rem;
}

.after-join-identity-title {
  margin-left: 4rem;
}
.after-join-identity-title > :nth-child(2) {
  margin-left: 4rem;
  margin-bottom: 1.5rem;
}

.after-join-identity-title-list {
  display: flex;
  align-items: center;
  margin-bottom: -0.7rem;
}

.after-join-identity-title-list > img {
  margin-top: 0.8rem;
  margin-right: 0.4rem;
}

.after-join-identity-title-list > div {
  font-size: 1.7rem;
  font-weight: 800;
}

.after-join-identity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#join-identity-general,
#join-identity-author {
  height: 17.5rem;
  background-color: rgba(41, 45, 50, 1);
  border-radius: 1rem;
  padding: 3.3rem 2rem 0 2rem;
  box-shadow: 2px 2px 0.5rem rgba(88, 88, 88, 0.3);
  scale: 90%;
}

#join-identity-general > * {
  color: white;
}

#join-identity-author > * {
  color: white;
}

.join-general-type-ko,
.join-author-type-ko {
  font-size: 0.9rem;
  font-weight: 500;
}

#join-identity-general > img {
  margin-left: 0.3rem;
}

#join-identity-author > img {
  margin-left: 0.3rem;
}
.join-general-type-en,
.join-author-type-en {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.join-general-list,
.join-author-list {
  font-weight: 300;
}

.join-identity-btn {
  width: 8rem;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 1rem;
  padding: 0.5rem 0;
  border: none;
  border: solid 0.1rem rgba(41, 45, 50, 1);
  border-radius: 0.5rem;
  background-color: white;
  color: rgba(41, 45, 50, 1);
}

.join-identity-btn:hover {
  color: white;
  font-weight: 700;
  background-color: rgba(41, 45, 50, 1);
  transition-duration: 0.2s;
}
