.join-identity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.3rem;
  margin-left: 3.4rem;
  border-radius: 0.3rem;
  /* border-bottom: solid 0.1rem rgba(31, 31, 31, 0.7); */
}

.join-title {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 40rem;
  text-shadow: 2px 2px 0.4rem rgba(22, 22, 22, 0.3);
  margin-top: -38rem;
  color: rgb(255, 255, 255);
}

.join-identity > * {
  padding: 0.5rem 6.5rem;
  border-radius: 0.4rem;
  background-color: rgba(31, 31, 31, 0.9);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.join-identity > :nth-child(2) {
  margin-left: 1rem;
  background-color: rgba(31, 31, 31, 0.3);
}
.join-all-list {
  display: flex;
  padding: 0.4rem 0.2rem;
}

.join-list-name {
  padding-left: 9.5rem;
}

.join-id,
.join-password,
.join-phone {
  margin-right: 1rem;
}

.join-all-list > * {
  margin: 0.5rem;
  display: flex;
}
.join-all-list > * > div {
  margin-right: 0.8rem;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  color: rgba(52, 52, 52, 0.9);
}

.join-all-list > * > input {
  width: 13rem;
  height: 1.4rem;
  outline: none;
  border: none;
  color: rgba(52, 52, 52, 0.9);
  border-bottom: solid 0.1rem rgba(52, 52, 52, 0.3);
  padding-left: 0.5rem;
}

.join-btn {
  margin: 0 auto;
  border: none;
  margin-top: 1.6rem;
  padding: 0.7rem 3rem;
  border-radius: 0.7rem;
  color: white;
  background-color: rgba(88, 88, 88, 0.2);
  font-weight: bold;
  cursor: not-allowed;
}

.join-email {
  cursor: not-allowed;
}
