<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="llustmarket.artmarket.web.mapper.chat.ChatMapper">
    <insert id="insertOne" useGeneratedKeys="true" keyColumn="chatId">
        insert into chat (chat_room_id, member_id,chat_identity,product_id,chat_leave_date)
        values (#{chatRoomId},#{memberId},#{chatIdentity},#{productId},#{chatLeaveDate})
    </insert>
    <update id="updateChatLastDate" parameterType="llustmarket.artmarket.domain.chat.Chat">
        update chat set chat_leave_date = #{chatLeaveDate}
        where chat_room_id =  #{chatRoomId} and member_id = #{memberId}
    </update>
    <update id="updateChatStatus" parameterType="llustmarket.artmarket.domain.chat.Chat">
        update chat set chat_status = #{chatStatus}
        where chat_room_id =  #{chatRoomId} and member_id = #{memberId}
    </update>
    <delete id="deleteChat">
        delete from chat where chat_id = #{chatId}
    </delete>
    <select id="selectOneExist" resultType="llustmarket.artmarket.domain.chat.Chat" >
        select chat_id, chat_room_id, member_id, chat_date, chat_leave_date, chat_status, chat_identity, product_id
        from chat where member_id = #{memberId} and product_id = #{productId}
    </select>
    <select id="selectByMemberId" resultType="llustmarket.artmarket.domain.chat.Chat" >
        select chat_id, chat_room_id, member_id, chat_date, chat_leave_date, chat_status, chat_identity, product_id
        from chat where member_id = #{memberId} and chat_status = 0
    </select>

    <select id="selectByRoomIdAndMemberId" resultType="llustmarket.artmarket.domain.chat.Chat" >
        select chat_id, chat_room_id, member_id, product_id, chat_date, chat_leave_date, chat_status, chat_identity
        from chat where member_id = #{memberId} and chat_room_id = #{chatRoomId}
    </select>
</mapper>