<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="llustmarket.artmarket.web.mapper.chat.ChatRoomMapper">
    <insert id="insertOne"
             useGeneratedKeys="true" keyProperty="chatRoomId" keyColumn="chat_room_id">
        insert into chatroom (product_id, chat_from_id, chat_to_id)
        values (#{productId},#{chatFromId},#{chatToId})
    </insert>
    <update id="updateOne" parameterType="llustmarket.artmarket.domain.chat.ChatRoom">
        update chatroom set chat_room_msg = #{chatRoomMsg}
                          ,chat_room_last_date = #{chatRoomLastDate}
                        where chat_room_id =  #{chatRoomId}
    </update>
    <delete id="deleteChatRoom" parameterType="long">
        delete from chatroom where chat_room_id = #{chatRoomId}
    </delete>
    <select id="selectOneId" resultType="llustmarket.artmarket.domain.chat.ChatRoom" >
        select chat_room_id, product_id, chat_to_id, chat_from_id, chat_room_date, chat_room_last_date, chat_room_msg
        from chatroom where chat_room_id = #{chatRoomId};
    </select>


</mapper>