/* footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: solid 0.1rem rgba(245, 245, 245, 1);
  margin-top: 7rem;
  padding: 0.5rem 0rem 3rem 0;
}

footer > .footer-left {
  display: flex;
  margin: 0.2rem 1.5rem;
}

footer > .footer-right > * {
  width: 17px;
  height: 17px;
  margin: 0.5rem 0.9rem;
}

footer > .footer-left > * {
  font-size: 0.7rem;
  margin-right: 1.5rem;
  color: rgba(54, 54, 54, 1);
}
