nav {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.nav-menu > *:not(.login-profile) {
  margin-left: 1.3rem;
  font-size: 0.7rem;
  cursor: pointer;
}

.nav-menu > *:hover:not(.login-profile) {
  font-weight: bold;
}

.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: translateY(-0.1rem);
}

.nav-logo > * {
  width: 10rem;
}

.nav-category {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.1rem;
}

.nav-category > * {
  margin-left: 4rem;
  font-size: 0.8rem;
  color: rgba(49, 49, 49, 0.9);
  font-weight: 600;
  cursor: pointer;
}

.nav-category > *:hover {
  font-size: 0.9rem;
  transition: 0.3s;
}

.login-profile {
  align-items: center;
  padding: 0.1rem;
  margin: 0.1rem;
  cursor: auto;
  margin-top: 0.1rem;
  margin-right: -0.2rem;
}

.login-profile-img {
  scale: 65%;
  margin-right: -0.2rem;
}

.login-profile-intro {
  font-size: 0.8rem;
  background-color: rgba(49, 49, 49, 0.9);
  color: white;
  border-radius: 1rem;
  padding: 0 0.5rem;
}
