.category-box {
  border: solid 0.1rem;
  width: 75%;
  margin: 0 auto;
}

.category-title {
  font-size: 3rem;
  font-weight: 700;
}

.category-top > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-filter {
  display: flex;
}

.category-list-box {
  background-color: white;
  border: solid 0.01rem rgba(41, 45, 50, 0.1);
  border-radius: 1rem;
  box-shadow: 2px 2px 0.2rem rgba(88, 88, 88, 0.1);
  width: 38%;
  padding: 1rem 1rem 0.2rem 1rem;
  margin: 1rem;
}

.category-list-box-img-list {
  width: 10rem;
  height: 7.2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  border-radius: 0.7rem;
}

.category-list-box-img-lists {
  display: flex;
  margin: 0.2rem;
}

.category-list-box-img-list:hover {
  transform: translateY(-0.2rem);
  transition-duration: 0.3s;
}

.category-list-box-title {
  display: inline-flex;
  font-weight: 700;
  border-bottom: solid 0.1rem;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
  padding-bottom: 0.15rem;
}

.category-list-box-etc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
}

.category-list-box-nickname {
  display: inline-flex;
  /* background-color: rgba(41, 45, 50, 1);
  border-radius: 1rem; */
  color: rgba(41, 45, 50, 1);
  font-size: 0.8rem;
  margin-top: -0.8rem;
}

.category-list-box-go-detail {
  outline: none;
  border: none;
  background-color: white;
  border: solid 0.01rem rgba(41, 45, 50, 0.1);
  border-radius: 1rem;
  box-shadow: 2px 2px 0.2rem rgba(88, 88, 88, 0.1);
  padding: 0.3rem 1.5rem;
  color: rgba(41, 45, 50, 1);
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  margin: 0 0.2rem;
  margin-top: 0.8rem;
}

.category-list-box-go-detail:hover {
  scale: 103%;
  transition-duration: 0.1s;
}

input,
select,
option,
.category-list-box-go-detail {
  font-family: "Noto Sans KR", sans-serif;
}
