container {
  width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
  border: solid 0.1rem rgba(41, 45, 50, 0.3);
  padding: 0.7rem 2rem 1rem 2rem;
}

textarea {
  resize: none;
  outline: none;
  border: solid 0.1rem rgba(41, 45, 50, 0.3);
  padding: 0.5rem;
}

.detail-top-title,
.detail-top-article-num,
.detail-mid-right-chat,
.detail-mid-right-deadline,
.detail-mid-right-payment {
  display: flex;
  align-items: center;
}

.detail-mid-right-chat > *,
.detail-mid-right-deadline > *,
.detail-mid-right-payment > * {
  font-size: 0.9rem;
}

input {
  font-family: "Noto Sans KR", sans-serif;
  scale: 90%;
}

.detail-top-title-label,
.detail-top-article-num-label {
  margin-right: 0.5rem;
}

.detail-mid-right-chat-label,
.detail-mid-right-deadline-label,
.detail-mid-right-payment-label {
  margin-right: 0.3rem;
}

.detail-top-title-label,
.detail-top-article-num-label,
input[type="button"]:not(.product-chat-room-box-top-show-exit) {
  font-weight: 600;
  font-size: 0.9rem;
  background-color: rgba(41, 45, 50, 1);
  color: white;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
}

.detail-top,
.detail-mid {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: solid 0.1rem rgba(41, 45, 50, 0.3);
}

.detail-mid {
  padding: 0 2rem 1rem 1rem;
}

.detail-mid-left {
  display: flex;
  align-items: center;
}

.detail-mid-left-profile-info-nickname {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.detail-mid-left-profile-img-value {
  width: 5rem;
  height: 5rem;
  border: solid 0.1rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.detail-mid-right-payment-cost {
  outline: none;
  border: none;
  border-bottom: solid 0.1rem;
}

.detail-bot-caution {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 45, 50, 1);
  color: white;
  border-radius: 1rem;
  padding: 0.25rem 2rem;
  margin-bottom: 1rem;
}

.detail-bot-caution > * {
  margin: 0 0.3rem;
}

.detail-bot-caution-icon {
  scale: 95%;
}

.detail-bot-caution-title {
  font-weight: 500;
}

.detail-bot-caution-intro {
  font-size: 0.8rem;
  font-weight: 300;
}

.detail-bot,
.detail-bot-intro,
.detail-bot-img,
.detail-bot-img-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-bot-intro,
.detail-bot-img {
  margin-bottom: 5rem;
}

.detail-bot-intro-label,
.detail-bot-img-label {
  font-size: 1.4rem;
  font-weight: 700;
}

.detail-mid-right-chat-btn,
.detail-mid-right-deadline-btn,
.detail-mid-right-payment-btn {
  cursor: pointer;
}

/* chat */

.product-chat-room {
  position: absolute;
  margin-left: 21rem;
  margin-top: 1.5rem;
}

.product-chat-room-box {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: rgba(41, 45, 50, 1);
  border-radius: 1rem;
}

.product-chat-room-box-top {
  border-bottom: solid 0.1rem white;
  padding: 0.4rem;
}

.product-chat-room-box-top-show-exit {
  scale: 80%;
  border: none;
  background-color: white;
  color: rgba(41, 45, 50, 1);
  border-radius: 10rem;
  width: 1.7rem;
  font-weight: 600;
  cursor: pointer;
  float: right;
}

.product-chat-room-box-mid {
  clear: both;
  padding: 0.5rem;
  height: 20rem;
  overflow: scroll;
  overflow-x: hidden;
}

.product-chat-room-box-mid::-webkit-scrollbar {
  width: 10px;
}

.product-chat-room-box-mid::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  height: 2rem;
}

.product-chat-room-box-mid::-webkit-scrollbar-button {
  display: none;
}

.product-chat-room-box-mid-msg-me {
  float: right;
}

.product-chat-room-box-mid-msg-me-time {
  float: right;
  color: white;
  font-size: 0.7rem;
  font-weight: 400;
  margin-right: 0.4rem;
}

.product-chat-room-box-mid-msg-me-text {
  clear: both;
  background-color: white;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.7rem;
  padding: 0.3rem 0.8rem;
  margin-bottom: 0.4rem;
  margin-left: 1.1rem;
}

.product-chat-room-box-mid-msg-other {
  clear: both;
  margin-left: 0.1rem;
}

.product-chat-room-box-mid-msg-other-time {
  color: white;
  font-size: 0.7rem;
  font-weight: 400;
  padding-right: 0.4rem;
  opacity: 0.6;
  margin-left: 0.4rem;
}

.product-chat-room-box-mid-msg-other-text {
  float: left;
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.7rem;
  padding: 0.3rem 0.8rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.4rem;
  margin-right: 1.1rem;
}

.product-chat-room-box-bot {
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0rem;
  margin-right: 0.4rem;
}

.product-chat-room-box-bot-send-text {
  border: none;
  outline: none;
  width: 25rem;
  height: 0.7rem;
  padding: 1rem;
  padding-right: 3rem;
  border-radius: 1rem;
}

.product-chat-room-box-bot-send-attach {
  margin-left: -3.3rem;
  scale: 70%;
  cursor: pointer;
}

.product-chat-room-box-bot-send-btn {
  margin-left: 0.6rem;
  scale: 80%;
}

.product-chat-room-box-bot-send-btn:hover {
  scale: 90%;
  transition-duration: 0.4s;
}
