container {
  width: 1500px;
  margin: 0 auto;
}

* {
  color: rgba(31, 31, 31, 0.8);
}

.login-to-join-container {
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@keyframes move-login {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateX(-0.8rem);
  }
  100% {
    transform: translateY(0);
  }
}

.login-to-join-background {
  display: flex;
  align-items: center;
  height: 50rem;
  overflow: hidden;
}

.login-to-join-background-img {
  animation-name: move-login;
  animation-duration: 4.4s;
  animation-iteration-count: infinite;
}

.login-content {
  height: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 2px 2px 0.5rem rgba(226, 226, 226, 0.1);
  border-radius: 0.8rem;
  margin-left: 26rem;
  padding: 3rem 10rem 8rem 10rem;
}

.agree-content {
  width: 400px;
  height: 300px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 2px 2px 0.5rem rgba(226, 226, 226, 0.1);
  margin-left: 25rem;
  padding: 8rem 10rem;
}

footer {
  margin-top: 0.1rem;
}
