/*공통*/

.email_war_message, .password_war_message{
  position: absolute;
  font-size: 0.7rem;
  color: red;
  padding-left: 0.5rem;
  margin-top: 0.26rem;
}

.info-input-list {
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: solid 0.1rem rgba(54, 54, 54, 0.5);
}

.info-input-list:focus {
  outline: none;
  border-bottom: solid 0.1258rem rgba(39, 39, 39, 1);
}

.info-input-button {
  font-size: 1rem;
  border: none;
  padding: 0.9rem 0;
  border-radius: 0.5rem;
  cursor: not-allowed;
  color: rgba(245, 245, 245, 1);
  background-color: rgba(142, 142, 142, 1);
}