<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.MemberMapper">
    <insert id="insertMember" parameterType="com.example.model.Member" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO Member (name, nickname, login_id, password, phone, email)
        VALUES (#{name}, #{nickname}, #{loginId}, #{password}, #{phone}, #{email})
    </insert>
</mapper>