<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="llustmarket.artmarket.web.mapper.member.TokenMapper">
    <insert id="insertToken" useGeneratedKeys="true" keyProperty="tokenId">
        INSERT INTO token (member_id, validation_token, token_limit_date)
        VALUES (#{memberId}, #{validationToken}, #{tokenLimitDate})
    </insert>
    <update id="invalidateTokens">
        UPDATE token
        SET token_status = 0
        WHERE member_id = #{memberId}
    </update>
    <update id="invalidateExpiredTokens">
        UPDATE token
        SET token_status = 0
        WHERE token_limit_date &lt; #{currentDate}
    </update>
    <select id="selectLatestTokenByMemberId" resultType="llustmarket.artmarket.domain.member.Token">
        SELECT * FROM token WHERE member_id = #{memberId} ORDER BY token_id DESC LIMIT 1
    </select>
</mapper>