<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ArtMarket</title>
    <script defer th:src="@{/js/all.js}"></script>
    <script defer th:src="@{/js/nav.js}"></script>
    <script defer th:src="@{/js/footer.js}"></script>
    <script defer th:src="@{/js/join.js}"></script>
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/join.css}"/>
    <link rel="stylesheet" th:href="@{/css/login-join.css}"/>
</head>
<body>
<container>
    <section>
        <!-- -->
        <div class="section-top">
            <div class="background" style="background-image: url('../static/css/image/view1.png'); transition:0.8s">
                <img class="icon-left" src="../static/css/icon/icon-left.png"/>
                <img class="icon-right" src="../static/css/icon/icon-right.png"/>
            </div>
        </div>
        <!-- -->
        <div class="section-mid">
            <div class="message">아트마켓은 안전성과 보장된 퀄리티 상품을 거래합니다.</div>
        </div>
        <!-- -->
        <div class="section-bot">
            <div class="list1">
                <img src="../static/css/icon/list1.png">
                <div>상업 · 비상업 창작 구분 판매</div>
            </div>
            <div class="list2">
                <img src="../static/css/icon/list2.png">
                <div>상세한 작업사항 실시간 확인</div>
            </div>
            <div class="list3">
                <img src="../static/css/icon/list3.png">
                <div>소중한 대금 안전 거래 및 보관</div>
            </div>
            <div class="list4">
                <img src="../static/css/icon/list4.png">
                <div>온오프를 통한 스케줄 관리</div>
            </div>
        </div>
        <!-- -->
        <article>
            <div class="art1">
                <div class="title">평점이 높은 작가</div>
                <div class="content">
                    <div>
                        <img src="#">
                        <div>작가1</div>
                        <div>작가1 입니다.</div>
                    </div>
                    <div>
                        <img src="#">
                        <div>작가2</div>
                        <div>작가2 입니다.</div>
                    </div>
                    <div>
                        <img src="#">
                        <div>작가3</div>
                        <div>작가3 입니다.</div>
                    </div>
                </div>
            </div>
            <div class="art2">
                <div class="title">작업이 가장 빠른 작가</div>
                <div class="content">
                    <div>
                        <img src="#">
                        <div>작가4</div>
                        <div>작가4 입니다.</div>
                    </div>
                    <div>
                        <img src="#">
                        <div>작가5</div>
                        <div>작가5 입니다.</div>
                    </div>
                    <div>
                        <img src="#">
                        <div>작가6</div>
                        <div>작가6 입니다.</div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</container>
</body>
</html>
