<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtMarket</title>
    <script defer src="../../static/js/all.js"></script>
    <script defer src="../../static/js/nav.js"></script>
    <script defer src="../../static/js/footer.js"></script>
    <link rel="stylesheet" href="../../static/css/all.css"/>
    <link rel="stylesheet" href="../../static/css/nav.css"/>
    <link rel="stylesheet" href="../../static/css/footer.css"/>
</head>
<body>
<container>
    <section>

    </section>
</container>
</body>
</html>