<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="llustmarket.artmarket.web.mapper.payment.PaymentMapper">
    <insert id="insertPayment" useGeneratedKeys="true" keyProperty="partner_order_id"
            parameterType="llustmarket.artmarket.domain.payment.Payment">
        INSERT INTO
        safepayment(
        tid, partner_order_id, partner_user_id
        )
        VALUES(
        #{tid}, #{partnerOrderId}, #{partnerUserId}
        )
    </insert>

    <select id="selectPayment" resultType="llustmarket.artmarket.web.dto.payment.PaymentDTO">
        select s.tid, s.partner_order_id, s.partner_user_id, o.total_amount
        from safepayment s
        INNER JOIN art_market_db.order o
        ON o.order_id = s.partner_order_id
        where tid = #{tid};
    </select>

    <select id="selectPayCancel" parameterType="llustmarket.artmarket.web.dto.payment.RefundDTO"
            resultType="llustmarket.artmarket.web.dto.payment.PaymentDTO">
        select s.tid, s.partner_order_id, s.partner_user_id, o.total_amount
        from safepayment s
        INNER JOIN art_market_db.order o
        ON o.order_id = s.partner_order_id
        where o.order_id = #{orderId}
    </select>

</mapper>